#ikonica {
  text-align: center;
  position: fixed;
  top: 30%;
  left: 30%;
  height: 40% !important;
  width: 40% !important;
}

#spiner {
  text-align: center;
  position: fixed;
  top: 40%;
  left: 40%;
  height: 20% !important;
  width: 20% !important;
}
