ion-card-title{
  font-size: 1.1rem;
}

.zaCenu {
  background-color: #F1AE5C;
  text-align: center;
  font-size: 1.3em;
  font-weight: 700;
  color:#444444;
}

.subtitle {
  margin-top: 7px;
}

#spiner {
  text-align: center;
  position: fixed;
  top: 40%;
  left: 40%;
  height: 20% !important;
  width: 20% !important;
}

